# Enum ValidationResult
バリデーション結果を表すEnum

---
### Syntax
```csharp
public enum ValidationResult
```
### Fields
| Name             | Description |
|------------------|-------------|
| None             ||
| OverLap          ||
| CounterClockWise ||
| Valid            ||
